html,
body {
  font-family: "Comfortaa", cursive;
}

a:any-link {
  text-decoration: none;
}

li {
  list-style: none;
  line-height: 200%;
}

td:nth-child(1) {
  font-weight: bold;
}

th:nth-child(2),
th:nth-child(3) {
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./img/preloader.gif) center no-repeat #fff;
}
